<div class="sidebar ">
	<h2>Links</h2>
	<ul>
		<li><a href="{{site.baseurl | prepend:site.url}}">Fork on Github</a></li>
		<li><a href="{{site.baseurl | prepend:site.url}}/zipball/master">Download ZIP</a></li>
		<li><a href="{{site.baseurl | prepend:site.url}}/tarball/master">Download TAR</a></li>
	</ul>
</div>
<!--
<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
-->
