<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
<link href="{{site.baseurl | prepend:site.url}}/css/syntax.css" rel="stylesheet">
<title>{{ page.title }}</title>
</head>
<body>

<div id="wrap">

	<div id="header">
		<h1><a href="#">Planet Mercury Template</a></h1>
	</div>

	<div id="menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Published Work</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>

	<div id="contentwrap"> 

		<div id="content">

			{{ content }}

		</div>

		<div style="clear: both;"> </div>

	</div>

	<div id="footer">
		<p>&copy; Copyright 2016 Alberto Pires de Oliveira Neto| Design by <a href="http://www.w3colors.info">w<strong>3</strong>colors</a></p>
	</div>

</div>

</body>
</html>
